#input {
	resize: none;
}
#input,
#results {
	font-family: Menlo,Monaco,"Courier New",monospace;
	height: 300px;
	padding: 10px;
	white-space: nowrap;
}
#input {
	width: 450px;
	overflow: auto;
}
#results li {
	border-top: 1px solid #eee;
	line-height: 17px;
	color: #ccc;
}
#results span {
	color: #333;
}
